body {
  /* background-color: #bce6eb; */
  /* background-color: white; */
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  background-color: pink;
}

html, body {
  scroll-behavior: smooth;
}

.summary-columns {
  word-wrap: break-word;
  font-weight: 500;
  font-size: 1em;
  width: 70%;
  word-wrap: break-word;
}

.iconify {
  margin-left: 5px;
}

.page-header {
  text-align: center;
  font-size: 4em;
  font-family: "Russo One";
  color: #98acf8;
  font-weight: 800;
  position: fixed;
  left: 0;
  right: 0;
  margin-top: 20px;
  /* background-color: #bce6eb; */
}

.nav-container {
  z-index: 999;
  position: fixed;
  margin: auto;
  margin-bottom: 100px;
  margin-top: 20px;
  /* background-color: #bce6eb; */
}

.state-card {
  min-height: 100px;
  max-height: 500px;
  overflow-y: auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.fixed-top {
  background-color: pink;
}

.section-headers {
  color: #ce81d8;
  font-size: 2em;
  text-align: center;
  font-family: "Poppins";
}

.material-icons {
  vertical-align: middle;
  margin-left: 6px;
  margin-right: 6px;
}

.card {
  z-index: 1;
  margin: 1em auto;
  width: 80%;
  border: solid 1em #bce6eb;
  border-radius: 0.5em;
  transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transition: 0.7s;
  -moz-transition: 0.7s;
  -webkit-transition: 0.7s;
  /* background-color: #bce6eb; */
  background-color: white;
}

.body-cards {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.move-shapes {
  margin-top: 1%;
  margin-left: 42%;
}

.card-button {
  cursor: pointer;
  text-align: center;
  font-weight: 600;
  height: 100px;
}

.card-button:hover {
  box-shadow: 0 0 1em rgb(145, 140, 140) !important;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #4181c5;
  opacity: 1;
  border-color: #4181c5;
}

/* Styling active collapse buttons */

.active-card-button {
  box-shadow: 0 0 1em rgb(145, 140, 140) !important;
  border: solid 1em #fdcfdf;
  background-color: #fdcfdf;
}

/* The full expanded nav */

@media (min-width: 768px) {
  .page-body {
    padding-top: 190px;
  }
  .collapsed-nav {
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
  }
  .navbar-expand-md .navbar-toggler {
    display: none;
  }
  .drawer-link {
    display: none !important;
  }
  .nav {
    display: contents;
  }
  .nav-padding {
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 20px;
  }
  .sidenav {
    position: fixed;
  }
  .card-button {
    cursor: pointer;
    font-weight: 600;
    height: 70px;
    border: 0px;
    font-size: 0.8em;
    text-align: center;
    justify-content: center;
  }
}

a {
  cursor: pointer;
}

/* Drawer is showing */

@media (max-width: 768px) {
  .page-body {
    padding-top: 100px;
  }
}

@media (max-width: 780px) {
  .collapsed-nav {
    /* display: none !important; */
  }
}

@media (max-width: 1092px) {
  .nav-icons {
    display: none !important;
  }
}

.sidenav a {
  font-size: 18px;
  font-family: "Poppins";
  cursor: pointer;
}

.nav-item {
  width: 70%;
}

.table-container {
  margin: 20px;
  display: block;
}

.drawer-link {
  font-weight: 500;
}

.active-link {
  color: #df87c1 !important;
}

.state-name {
  color: #b088f9;
  font-size: 2.4em;
  font-family: "Poppins";
}

.state-facts {
  color: #98acf8;
}

.btn-primary {
  background-color: #b5b8e2;
  opacity: 0.4;
  border-color: #b5b8e2;
}

.btn-primary .active {
  background-color: #b5b8e2;
  border-color: #ffffff;
  opacity: 1;
}

.section-margins-padding {
  margin-top: 20px;
  padding-bottom: 30px;
}

.state-table {
  white-space: normal;
  border-collapse: separate;
  width: 100%;
  border-spacing: 12px 15px;
  padding: 20px;
  margin: auto;
  overflow: auto;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.summary-table {
  white-space: normal;
  border-collapse: separate;
  border-spacing: 12px 15px;
  padding: 20px;
  margin: auto;
  overflow: auto;
  word-wrap: break-word;
}

.wrapped-th {
  word-wrap: break-word;
  overflow-wrap: break-word;
  width: 20%;
}

.flip-card {
  height: 255px;
  perspective: 1000px;
  cursor: pointer;
  max-width: 300px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.card-front, .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card-front {
  background-color: #9074c3;
  color: black;
}

.card-back {
  background-color: #98acf8;
  color: white;
  transform: rotateY(180deg);
  padding-top: 20px;
  font-size: .8em;
  padding-left: 5px;
  word-break: break-all;
}

.flip-card-logo {
  padding: 10px;
  color: white;
  margin-top: 5px;
  font-family: "Poppins";
  text-align: center;
  overflow: auto;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
}

.card-center {
  margin-top: 40%;
}

.card-right {
  margin-right: 20px;
}

.circle {
  height: 200px;
  margin-left: 62%;
  /* top: 0px; */
}

.background-image {
  /* width:600px;
  height:120px; */
  background-size: cover;
  /* background-color: pink; */
  z-index: 1;
}

svg {
  scale: 300%;
  display: inline-block;
  position: absolute;
  /* top: 0;
	left: 0; */
}

:root {
  --sig-anim-dur: 1s;
  --sig-bg-anim-dur: 750ms;
}

html, body {
  margin: 0;
  height: 100%;
}

svg {
  transform: scale(0.75);
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

#stroke-1, #stroke-2 {
  stroke-dasharray: 350;
  stroke-dashoffset: 350;
  animation: anim-stroke calc(var(--sig-anim-dur) / 2) cubic-bezier(0.65, 0, 0.35, 1) forwards;
}

#stroke-2 {
  animation-delay: calc(var(--sig-anim-dur) / 2);
}

@keyframes anim-stroke {
  to {
    stroke-dashoffset: 0;
  }
}

/* squigs animation */

#waves {
  animation-iteration-count: 2;
  stroke-dasharray: 100;
  animation: anim-waves 2s linear alternate;
}

@keyframes anim-waves {
  to {
    stroke-dashoffset: 200;
  }
}

#triangle {
  transform-origin: 25% 10%;
  animation-iteration-count: 2;
  animation: anim-triangle 2s ease-in-out alternate;
}

@keyframes anim-triangle {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

#bg-1, #bg-2 {
  transform-origin: center;
  transform: scale(0) rotate(1turn);
  animation: anim-bg var(--sig-bg-anim-dur) var(--sig-anim-dur) cubic-bezier(0.34, 1.56, 0.64, 1) forwards;
}

#bg-2 {
  animation-delay: calc(var(--sig-anim-dur) + var(--sig-bg-anim-dur) / 2);
}

@keyframes anim-bg {
  to {
    transform: unset;
  }
}

.hide-title {
  display: none;
}

.purple-square {
  display: inline-block;
  position: absolute;
  height: 317px;
  width: 247px;
  left: 12%;
  top: 10%;
  padding: 23px;
  background-color: #b7a6cb;
  border-radius: 3px;
  top: 43%;
  transform: rotate(290deg) skew(0deg);
  -webkit-transform: rotate(324deg) skew(0deg);
  border-top: 0px transparent;
}

.blue-square {
  display: inline-block;
  position: absolute;
  height: 128px;
  width: 240px;
  left: 13%;
  top: 60%;
  padding: 23px;
  background-color: #c9fc8d;
  border-radius: 3px;
  top: 43%;
  transform: rotate(290deg) skew(0deg);
  -webkit-transform: rotate(324deg) skew(0deg);
  border-top: 0px transparent;
}

.fa-linkedin-in {}