body {
	background-color: #bce6eb;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}

html, body {
	scroll-behavior: smooth;
}

.summary-columns {
	word-wrap: break-word;
	font-weight: 500;
	font-size: 1em;
	width: 70%;
	word-wrap: break-word;
}

.page-header {
	text-align: center;
	font-size: 4em;
	font-family: 'Poppins', sans-serif;
	color: #98acf8;
	font-weight: 800;
	font-size: 3.8em;
	position: fixed;
	left: 0;
	right: 0;
	margin-top: 20px;
	background-color: #bce6eb;
}

.nav-container {
	z-index: 999;
	position: fixed;
	margin: auto;
	margin-bottom: 100px;
	margin-top: 20px;
	background-color: #bce6eb;
}

.state-card {
	min-height: 100px;
	max-height: 500px;
	overflow-y: auto;
}

.fixed-top {
	background-color: #bce6eb;
}

.section-headers {
	text-align: center;
}

.material-icons {
	vertical-align: middle;
	margin-left: 6px;
	margin-right: 6px;
}

.card {
	margin: 1em auto;
	width: 80%;
	border: solid 1em white;
	border-radius: 0.5em;
	transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
	transition: 0.7s;
	-moz-transition: 0.7s;
	-webkit-transition: 0.7s;
}

.card-button {
	cursor: pointer;
	text-align: center;
	font-weight: 600;
	height: 100px;
}

.card-button:hover {
	box-shadow: 0 0 1em rgb(145, 140, 140) !important;
}

/* Styling active collapse buttons */

.active-card-button {
	box-shadow: 0 0 1em rgb(145, 140, 140) !important;
	border: solid 1em #fdcfdf;
	background-color: #fdcfdf;
	/* color: #85e2e2; */
}

/* The side navigation menu */

.sidenav {
	/* height: 100%; */
	/* width: 200px; */
	/* overflow-x: hidden;
	padding-top: 60px;
	margin-left: 70px; */
}

/* The full expanded nav */

@media (min-width: 768px) {
	.page-body {
		padding-top: 190px;
	}
	.collapsed-nav {
		display: -ms-flexbox!important;
		display: flex!important;
		-ms-flex-preferred-size: auto;
		flex-basis: auto;
	}
	.navbar-expand-md .navbar-toggler {
		display: none
	}
	.drawer-link {
		display: none !important;
	}
	.nav {
		display: contents;
	}
	.nav-padding {
		margin-left: 200px;
		margin-right: 200px;
		margin-top: 20px;
	}
	.sidenav {
		position: fixed;
	}
	.card-button {
		cursor: pointer;
		font-weight: 600;
		height: 70px;
		border: 0px;
		font-size: .8em;
		text-align: center;
		justify-content: center;
	}
}

a {
	cursor: pointer;
}

/* Drawer is showing */

@media (max-width: 768px) {
	.page-body {
		padding-top: 100px;
	}
}

@media (max-width: 780px) {
	.collapsed-nav {
		/* display: none !important; */
	}
}

@media (max-width: 1092px) {
	.nav-icons {
		display: none !important;
	}
}

.sidenav a {
	font-size: 18px;
	font-family: "Poppins";
	cursor: pointer;
}

.nav-item {
	width: 70%;
}

.table-container {
	margin: 20px;
	display: block;
}

.active-link {
	color: #df87c1 !important;
}

/* Margin for body alongside side nav */

.data-section-body {
	/* margin-left: -110px; */
}

.state-name {
	color: #b088f9;
	font-size: 2.4em;
	font-family: "Poppins";
}

.state-facts {
	color: #98acf8;
}

.btn-primary {
	background-color: #b5b8e2;
	opacity: .4;
	border-color: #b5b8e2;
}

.btn-primary .active {
	background-color: #b5b8e2;
	border-color: #ffffff;
	opacity: 1;
}

.section-margins-padding {
	margin-top: 20px;
	padding-bottom: 30px;
}

.state-table {
	white-space: normal;
	border-collapse: separate;
	width: 100%;
	border-spacing: 12px 15px;
	padding: 20px;
	margin: auto;
	overflow: auto;
	word-wrap: break-word;
	overflow-wrap: break-word;
}

.summary-table {
	white-space: normal;
	border-collapse: separate;
	border-spacing: 12px 15px;
	padding: 20px;
	margin: auto;
	overflow: auto;
	word-wrap: break-word;
}

.wrapped-th {
	word-wrap: break-word;
	overflow-wrap: break-word;
	width: 20%;
}